name: CI_build

on:
  # was [push, pull_request, workflow_dispatch]
  # separated because want to add schedule, which needs a

  # normal conditions
  push:
  pull_request:

  # on demand, from Actions tab
  workflow_dispatch:

  # on schedule (using cron syntax)
  #   16:00 UTC (8:00am PST) on 6=Saturday
  schedule:
    - cron: "0 16 * * 6"

jobs:
  validate:
    runs-on: windows-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Install python modules
      working-directory: .
      run: python -m pip install -r requirements.txt

    - name: Validate folders of XML types (UDLs, autoCompletion, functionList)
      working-directory: .
      run: python .validators\validator_xml.py

    - name: Validate json and rebuild udl-list.md
      working-directory: .
      run: python .validators\validator_json.py

    - name: Rebuild Markdown
      uses: stefanzweifel/git-auto-commit-action@v6
      if: contains('push workflow_dispatch', github.event_name)
      with:
        commit_message: Automatically re-build udl-list.md

  autoCompletion:
    runs-on: windows-latest
    needs: validate
    steps:
    - name: Checkout repo
      uses: actions/checkout@v5

    - name: Install python modules
      working-directory: .
      run: python -m pip install -r requirements.txt

    - name: Generate autoCompletion for all UDLs that don't already have one, and revalidate
      working-directory: .
      run: |
        python .validators\generate_ac.py
        # since AC XML may have been added, re-validate XML
        python .validators\validator_xml.py
        # since AC may have been added to JSON, need to revalidate JSON and re-generate md
        python .validators\validator_json.py

    - name: Add automatically generated autoCompletion files
      uses: stefanzweifel/git-auto-commit-action@v6
      if: ${{ contains('push workflow_dispatch', github.event_name) && github.ref == 'refs/heads/master' && github.repository == 'notepad-plus-plus/userDefinedLanguages' }}
      with:
        commit_message: Add automatically generated autoCompletion files

  unitTest:
    runs-on: windows-latest
    needs: validate
    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
    - name: Install Notepad++
      uses: crazy-max/ghaction-chocolatey@v3
      with:
        args: install -y notepadplusplus
    - name: Run FunctionList Unit Tests
      working-directory: .\Test
      run: |
        $PowerEditorSource = "C:\Program Files\Notepad++\"
        $PowerEditorLocal = ".\PowerEditor"
        Copy-Item "$PowerEditorSource" -Destination "$PowerEditorLocal\bin" -Recurse -Force
        New-Item "$PowerEditorLocal\bin\doLocalConf.xml" > $nul
        New-Item "$PowerEditorLocal\bin\userDefineLangs" -ItemType Directory -ea 0 > $nul
        python doUnitTests.py $PowerEditorLocal\bin
